/bugsinpy_binaries
/TestWrapper
/_BugsInPy
/debuggingbook/__pycache__
/Recorder/__pycache__
/Evaluator/__pycache__
/Evaluator/.temp
/_root
.env.sh
activate
/.temp
results_*
/results
translated_*
Evaluator/CodeInspection/__pycache__
evaluation_*
__pycache__*
/local_only
test.py
